In [2]:
import pandas as pd

In [12]:
autos_df = pd.read_csv("autos_dd.csv", encoding='Latin-1', low_memory=False)

In [13]:
autos_df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,3/24/2016 11:52,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,3/24/2016 0:00,0.0,70435.0,4/7/2016 3:16
1,3/24/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,3/24/2016 0:00,0.0,66954.0,4/7/2016 1:46
2,3/14/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,3/14/2016 0:00,0.0,90480.0,4/5/2016 12:47
3,3/17/2016 16:54,GOLF_4_1_4__3TRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,3/17/2016 0:00,0.0,91074.0,3/17/2016 17:40
4,3/31/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,3/31/2016 0:00,0.0,60437.0,4/6/2016 10:17

In [5]:
autos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371540 entries, 0 to 371539
Data columns (total 20 columns):
dateCrawled            371539 non-null object
name                   371539 non-null object
seller                 371538 non-null object
offerType              371538 non-null object
price                  371538 non-null float64
abtest                 371538 non-null object
vehicleType            333669 non-null object
yearOfRegistration     371537 non-null float64
gearbox                351329 non-null object
powerPS                371538 non-null float64
model                  351054 non-null object
kilometer              371538 non-null object
monthOfRegistration    371537 non-null float64
fuelType               338151 non-null object
brand                  371537 non-null object
notRepairedDamage      299477 non-null object
dateCreated            371537 non-null object
nrOfPictures           371537 non-null float64
postalCode             371537 non-null float64
lastSeen               371537 non-null object
dtypes: float64(6), object(14)
memory usage: 56.7+ MB

In [17]:
autos_df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,3/24/2016 11:52,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,3/24/2016 0:00,0.0,70435.0,4/7/2016 3:16
1,3/24/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,3/24/2016 0:00,0.0,66954.0,4/7/2016 1:46
2,3/14/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,3/14/2016 0:00,0.0,90480.0,4/5/2016 12:47
3,3/17/2016 16:54,GOLF_4_1_4__3TRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,3/17/2016 0:00,0.0,91074.0,3/17/2016 17:40
4,3/31/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,3/31/2016 0:00,0.0,60437.0,4/6/2016 10:17

In [18]:
# autos_df.rename(columns={'yearOfRegistration': 'Registration Year'})
autos = autos_df.groupby('offerType')
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,3/24/2016 11:52,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,3/24/2016 0:00,0.0,70435.0,4/7/2016 3:16
1,3/24/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,3/24/2016 0:00,0.0,66954.0,4/7/2016 1:46
2,3/14/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,3/14/2016 0:00,0.0,90480.0,4/5/2016 12:47
3,3/17/2016 16:54,GOLF_4_1_4__3TRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,3/17/2016 0:00,0.0,91074.0,3/17/2016 17:40
4,3/31/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,3/31/2016 0:00,0.0,60437.0,4/6/2016 10:17
16744,4/3/2016 15:48,Suche_VW_T5_Multivan,privat,Gesuch,0.0,test,bus,2005.0,NaN,0.0,transporter,150000,0.0,NaN,volkswagen,NaN,4/3/2016 0:00,0.0,29690.0,4/5/2016 15:16
90921,3/27/2016 14:55,Suche_einen_originalen_VW_Golf_2_Fire_and_Ice_G60,privat,Gesuch,19999.0,control,NaN,1990.0,NaN,0.0,golf,5000,0.0,NaN,volkswagen,NaN,3/27/2016 0:00,0.0,50181.0,4/7/2016 11:45
142235,3/27/2016 22:51,"""SUCHE_OPEL_VECTRA_B.""SUCHE"",privat,Angebot,0,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142237,ell,90,golf,150000,4.0,benzin,volkswagen,NaN,3/25/2016 0:00,0.0,48429,3/30/2016 0:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144166,3/14/2016 18:51,[SUCHE]_BMW_e46_Coupe_330ci_M_Paket_Facelift__...,privat,Gesuch,0.0,test,coupe,2004.0,manuell,0.0,3er,150000,1.0,benzin,bmw,nein,3/14/2016 0:00,0.0,86956.0,3/25/2016 6:17
150412,3/7/2016 21:37,Suche_Mercedes_300D__W124__Silberdistel_metall...,privat,Gesuch,0.0,control,NaN,1985.0,NaN,109.0,e_klasse,150000,0.0,NaN,mercedes_benz,NaN,3/7/2016 0:00,0.0,68169.0,3/7/2016 21:37
164800,3/28/2016 15:56,Suche_bitte_hilfe,privat,Gesuch,0.0,control,NaN,2016.0,manuell,0.0,astra,20000,2.0,diesel,opel,nein,3/28/2016 0:00,0.0,26215.0,3/28/2016 15:56

In [ ]:
autos

In [9]:
autos["Registration Year"].astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer