In [5]:
import pandas as pd
# import numpy as np

# import sqlalchemy
import json
# from sqlalchemy import inspect
# from sqlalchemy.ext.declarative import declarative_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine, func
from flask import jsonify
import pprint

# from config import key

# import pymysql
# pymysql.install_as_MySQLdb()

In [15]:
def get_all_data(table_name):
    cycles_df= pd.read_csv(table_name, usecols=["year", "startstationname",\
                                                "endstationname", "usertype", "gender", "birthyear", "tripduration"])
   
    return cycles_df.head().to_json(orient='records')

get_all_data("cycle_data.csv")

'[{"startstationname":"Exchange Place","endstationname":"Morris Canal","usertype":"Subscriber","gender":"Male","birthyear":30,"tripduration":5,"year":2019},{"startstationname":"Exchange Place","endstationname":"Paulus Hook","usertype":"Subscriber","gender":"Male","birthyear":53,"tripduration":2,"year":2019},{"startstationname":"Exchange Place","endstationname":"Van Vorst Park","usertype":"Subscriber","gender":"Female","birthyear":48,"tripduration":5,"year":2019},{"startstationname":"Exchange Place","endstationname":"Paulus Hook","usertype":"Subscriber","gender":"Male","birthyear":34,"tripduration":2,"year":2019},{"startstationname":"Exchange Place","endstationname":"Harborside","usertype":"Subscriber","gender":"Male","birthyear":48,"tripduration":3,"year":2019}]'

In [2]:
engine = create_engine("mysql://root:Eye@m5mart@localhost:3306/cycle_db")

In [3]:
# reflect an existing database into a new model
Base = declarative_base()
# reflect the tables
# Base.prepare(engine, reflect=True)

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [5]:
inspector = inspect(engine)

In [6]:
inspector.get_table_names()

['2018_tripdata',
 '2019_tripdata',
 'end_stations',
 'end_stations_19',
 'start_stations',
 'start_stations_19']

In [7]:
session.query('2019_tripdata')

In [19]:
session.query('start_stations_19')

with engine.connect() as con:
        start_station_df=pd.read_sql_table('start_stations_19', con)

session.close()
start_station_df

,startstationid,startstationname,startstationlatitude,startstationlongitude
0,3183,Exchange Place,40.716247,-74.033459
1,3184,Paulus Hook,40.714145,-74.033552
2,3185,City Hall,40.717732,-74.043845
3,3186,Grove St PATH,40.719586,-74.043117
4,3187,Warren St,40.721124,-74.038051
5,3191,Union St,40.718211,-74.083639
6,3192,Liberty Light Rail,40.711242,-74.055701
7,3193,Lincoln Park,40.724605,-74.078406
8,3194,McGinley Square,40.725340,-74.067622
9,3195,Sip Ave,40.730897,-74.063913
10,3196,Riverview Park,40.744319,-74.043991
11,3198,Heights Elevator,40.748716,-74.040443
12,3199,Newport Pkwy,40.728745,-74.032108
13,3201,Dey St,40.737711,-74.066921
14,3202,Newport PATH,40.727224,-74.033759
15,3203,Hamilton Park,40.727596,-74.044247
16,3205,JC Medical Center,40.716540,-74.049638
17,3206,Hilltop,40.731169,-74.057574
18,3207,Oakland Ave,40.737604,-74.052478
19,3209,Brunswick St,40.724176,-74.050656
20,3210,Pershing Field,40.742677,-74.051789
21,3211,Newark Ave,40.721525,-74.046305
22,3212,Christ Hospital,40.734786,-74.050444
23,3213,Van Vorst Park,40.718489,-74.047727
24,3214,Essex Light Rail,40.712774,-74.036486
25,3220,5 Corners Library,40.734961,-74.059503
26,3225,Baldwin at Montgomery,40.723659,-74.064194
27,3267,Morris Canal,40.712419,-74.038526
28,3268,Lafayette Park,40.713464,-74.062859
29,3269,Brunswick & 6th,40.726012,-74.050389
30,3270,Jersey & 6th St,40.725289,-74.045572
31,3272,Jersey & 3rd,40.723332,-74.045953
32,3273,Manila & 1st,40.721651,-74.042884
33,3275,Columbus Drive,40.718355,-74.038914
34,3276,Marin Light Rail,40.714584,-74.042817
35,3277,Communipaw & Berry Lane,40.714358,-74.066611
36,3278,Monmouth and 6th,40.725685,-74.048790
37,3279,Dixon Mills,40.721630,-74.049968
38,3280,Astor Place,40.719282,-74.071262
39,3281,Leonard Gordon Park,40.745910,-74.057271
40,3426,JCBS Depot,40.709651,-74.068601
41,3481,York St,40.716490,-74.041050
42,3483,Montgomery St,40.719420,-74.050990
43,3638,Washington St,40.724294,-74.035483
44,3639,Harborside,40.719252,-74.034234
45,3640,Journal Square,40.733670,-74.062500
46,3677,Glenwood Ave,40.727551,-74.071061
47,3678,Fairmount Ave,40.725726,-74.071959
48,3679,Bergen Ave,40.722104,-74.071455
49,3681,Grand St,40.715178,-74.037683
50,3694,Jackson Square,40.711130,-74.078900

In [25]:
for i, j in start_station_df.iterrows():
    print(start_station_df.iloc[i, 0], start_station_df.iloc[i, 1])
    i+=1

3183 Exchange Place
3184 Paulus Hook
3185 City Hall
3186 Grove St PATH
3187 Warren St
3191 Union St
3192 Liberty Light Rail
3193 Lincoln Park
3194 McGinley Square
3195 Sip Ave
3196 Riverview Park
3198 Heights Elevator
3199 Newport Pkwy
3201 Dey St
3202 Newport PATH
3203 Hamilton Park
3205 JC Medical Center
3206 Hilltop
3207 Oakland Ave
3209 Brunswick St
3210 Pershing Field
3211 Newark Ave
3212 Christ Hospital
3213 Van Vorst Park
3214 Essex Light Rail
3220 5 Corners Library
3225 Baldwin at Montgomery
3267 Morris Canal
3268 Lafayette Park
3269 Brunswick & 6th
3270 Jersey & 6th St
3272 Jersey & 3rd
3273 Manila & 1st
3275 Columbus Drive
3276 Marin Light Rail
3277 Communipaw & Berry Lane
3278 Monmouth and 6th
3279 Dixon Mills
3280 Astor Place
3281 Leonard Gordon Park
3426 JCBS Depot
3481 York St
3483 Montgomery St
3638 Washington St
3639 Harborside
3640 Journal Square
3677 Glenwood Ave
3678 Fairmount Ave
3679 Bergen Ave
3681 Grand St
3694 Jackson Square

In [8]:
with engine.connect() as con:
    
    cycles_df= pd.read_sql_table('2019_tripdata', con, columns=["year", "startstationname", "startstationlatitude",\
        "startstationlongitude", "endstationname", "endstationlatitude", "endstationlongitude",\
        "usertype", "gender", "birthyear"])
    session.close()
cycles_df.head()

,year,startstationname,startstationlatitude,startstationlongitude,endstationname,endstationlatitude,endstationlongitude,usertype,gender,birthyear
0,2019,Exchange Place,40.716247,-74.033459,Morris Canal,40.712419,-74.038526,Subscriber,Male,30
1,2019,Exchange Place,40.716247,-74.033459,Paulus Hook,40.714145,-74.033552,Subscriber,Male,53
2,2019,Exchange Place,40.716247,-74.033459,Van Vorst Park,40.718489,-74.047727,Subscriber,Female,48
3,2019,Exchange Place,40.716247,-74.033459,Paulus Hook,40.714145,-74.033552,Subscriber,Male,34
4,2019,Exchange Place,40.716247,-74.033459,Harborside,40.719252,-74.034234,Subscriber,Male,48

In [9]:

# cyc = cycles_df.head().to_json(orient='records')
# pprint.pprint(cyc)

In [10]:
# start_station_df = cycles_df[["startstationname", "startstationlatitude",
#         "startstationlongitude"]]
# start_station_df.head()

In [11]:
# cycles_df["startstationlongitude"].head()

In [12]:
# stations={}
# stations = {"start_station": cycles_df.iloc[0,1], "location": [cycles_df.iloc[0,2], cycles_df.iloc[0,3]]}
# print(stations)

In [13]:

end_station_df=pd.DataFrame({
#                             "end_station_name": cycles_df.groupby("endstationname")["endstationname"].first(),
                             "end_station_lat": cycles_df.groupby("endstationname")["endstationlatitude"].first(),
                             "end_station_long": cycles_df.groupby("endstationname")["endstationlongitude"].first()
                            })
end_station_df.reset_index(inplace=True)
end_station_df.head()

             endstationname  end_station_lat  end_station_long
0          12 Ave & W 40 St        40.760875        -74.002777
1         5 Corners Library        40.734961        -74.059503
2  Amsterdam Ave & W 125 St        40.813358        -73.956461
3               Astor Place        40.719282        -74.071262
4     Baldwin at Montgomery        40.723659        -74.064194

In [ ]:
for i, j in end_station_df.iterrows():
    print(end_station_df.iloc[i, 0])
    i+=1

In [47]:
for i in start:

SyntaxError: unexpected EOF while parsing (<ipython-input-47-0779496eb9a9>, line 2)

In [ ]:
# with engine.connect() as con:

# #     cycles = con.execute('select count(*) from 2019_tripdata')
#         cycle =con.execute('SET @jsoncycle=(SELECT JSON_ARRAYAGG(\
#         JSON_OBJECT("year", year, "start station", startstationname, "start station latitude", startstationlatitude,\
#         "start station longitude", startstationlongitude, "end station name", endstationname,\
#         "end station latitude", endstationlatitude, "end station longitude", endstationlongitude,\
#         "usertype", usertype, "gender", gender, "age", birthyear))\
#          FROM 2019_tripdata)'
#         )
# type(cycle)

In [ ]:
#  with engine.connect() as con:
#         cycles_js=con.execute('SELECT JSON_PRETTY(@jsoncycle)')
#         session.close()
#         for cy in cycles_js:
#             pprint.pprint(cy)

In [ ]:
with engine.connect() as con:
    cycles_js=con.execute('SELECT JSON_PRETTY(@jsoncycle)')
    
    for cy in cycles_js:
        print(cy)